header {
  margin: 2rem 0;
  nav {
    display: flex;
    justify-content: space-between;
    background: #1c1c1c;
    border-radius: 3rem;
    padding: 0.7rem 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.062);
    font-size: 15px;
    .logo {
      display: grid;
      place-items: center;
      img {
        max-width: 7rem;
      }
    }

    // small screen nav
    .navIcon {
      display: none;
      cursor: pointer;
    }
    @media (max-width: 749px) {
      .navIcon {
        display: block;
        background: var(--green-color-btn);
        border-radius: 1rem;
        padding: 0rem 1rem;
        display: flex;
        align-items: center;
        svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: rgb(51, 51, 51);
        }
      }

      ul {
        display: none;
      }
      .btnGroup {
        display: none;
      }
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      cursor: pointer;
      padding: 0.5rem 1.4rem;
      a {
        font-weight: 300;
      }
    }
  }
  .btnGroup {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 749px) {
  header.activeNav {
    // margin-top: 0;

    nav {
      border-radius: 6px;
      overflow: hidden;
      width: 100%;
      display: grid;
      align-content: space-around;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 1rem;
      height: 100vh;

      ul {
        display: block;
        grid-row: 2;
        grid-column: 1/-1;

        li {
          padding: 0.5rem 1.4rem;
        }
      }
      .navIcon {
        max-width: fit-content;
        place-self: end;
      }

      .btnGroup {
        display: block;
        grid-row: 3;
        display: flex;
        grid-column: 1/-1;
        place-content: center;
      }
    }
  }
}
.n {
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: n;
  animation-duration: 1s;
}
@keyframes n {
  0% {
    height: 53px;
  }
  100% {
    height: 100vh;
  }
}
@keyframes ne {
  0% {
    height: 100vh;
  }
  100% {
    height: 52px;
  }
}
.nend {
  animation: ne;
  transition: 0.1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.1s;
  .logo {
    align-content: flex-start;
  }
  .navIcon {
    height: max-content;
  }
}
